[submodule "wwqLyParse/ykdl"]
	path = wwqLyParse/ykdl
	url = git@github.com:wwqgtxx/ykdl.git
[submodule "wwqLyParse/you-get"]
	path = wwqLyParse/you-get
	url = git@github.com:wwqgtxx/you-get.git
[submodule "wwqLyParse/annie/src/github.com/iawia002/annie"]
	path = wwqLyParse/annie/src/github.com/iawia002/annie
	url = git@github.com:wwqgtxx/annie.git
