[submodule "wwqLyParse/lyp_pv"]
	path = wwqLyParse/lyp_pv
	url = https://github.com/wwqgtxx/lyp_pv.git
[submodule "wwqLyParse/ykdl"]
	path = wwqLyParse/ykdl
	url = https://github.com/wwqgtxx/ykdl.git
[submodule "wwqLyParse/you-get"]
	path = wwqLyParse/you-get
	url = https://github.com/wwqgtxx/you-get.git
[submodule "wwqLyParse/p_video"]
	path = wwqLyParse/p_video
	url = https://github.com/wwqgtxx/p_video.git
